
<main role="main" class="container">
    <div class="jumbotron">


       <h1>SKY RANGER GUATEMALA</h1>
      
        <a class="btn btn-primary" asp-controller="Account" asp-action="Registrarse">Registrarse</a>
        <a class="btn btn-primary" asp-controller="Account" asp-action="Login">Entrar</a>
    </div>
</main>


   